body {
    margin: 0px;
    font-family: 'Noto Sans KR';
}

div {
    box-sizing: border-box;
}

ul, li {
    padding: 0px;
    margin: 0px;
}

img {
    width: 100%;
}

h2 {
    font-size: 32px;
    margin: 0px;
    font-weight: 500;
}

h3 {
    font-size: 28px;
    margin: 0px;
    font-weight: 500;
}

h4 {
    font-size: 26px;
    margin: 0px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
    margin: 0px;
    font-weight: 500;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
    margin: 0px;
}

/* 상단 */

.top-background {
    width: 100%;
    height: 1240px;
    background-image: url(img/jeonju/j_main_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav */

.navbar {
    width: 1280px;
    height: 70px;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
}

/* 더보기 */

.list-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    top: 23px;
}

/* 목차 리스트 */

.main-menu {
    padding-left: 25px;
    padding-top: 23px;
    margin: 0px;
    display: inline-block;
}

.menu {
    width: 75px;
    margin-left: 25px;
    float: left;
    text-align: center;
}

.sub-menu {
    padding: 0px;
}

.menu p {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.sub-menu a {
    text-decoration: none;
    font-size: 13px;
    letter-spacing: -0.5px;
    color: black;
    display: none;
}

ul, li {
    list-style-type: none;
}

/* 상단 nav 로고 */

.main-logo {
    width: 64px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 상단 메인 */

.main-background {
    width: 1280px;
    height: 1100px;
    margin: auto;
}

.main-title {
    margin-top: 70px;
    text-align: center;
}

.main-subtitle {
    margin-top: 3px;
    font-size: 18px;
    letter-spacing: -0.5px;
    text-align: center;
}

.main-card-motion {
    margin-top: 20px;
    height: 985px;
}

.main-card {
    width: 240px;
    height: 340px;
    margin-top: 645px;
    margin-left: 20px;
    border-radius: 20px;
    float: left;
    border: 1px solid black;
}

.main-card:first-child {
    margin-left: 0px;
}

/* 1. 연혁 */

.j1-background {
    width: 1280px;
    margin: auto;
    margin-top: 120px;
}

.j1-title {
    text-align: center;
}

.j1-yearlist {
    margin-top: 30px;
}

.j1-yearlist-title {
    margin-left: 180px;
    float: left;
    font-size: 18px;
    letter-spacing: -0.5px;
    color: #C8C8C8;
}

.j1-yearlist-title:first-child {
    margin-left: 130px;
}

.j1-yearlist-item {
    width: 100%;
    height: 344px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: #00000008;
    overflow: hidden;
    position: relative;
}

.j1-yearlist-line {
    margin-top: 70px;
    margin-bottom: 5px;
    margin-left: 260px;
    position: relative;
}

.j1-year-dot {
    width: 10px;
    height: 10px;
    margin-left: 365px;
    border-radius: 100%;
    background-color: #1F273D;
    float: left;
}

.j1-year-dot:first-child {
    margin-left: 0px;
}

.j1-year-line {
    width: 760px;
    border-top: 1px solid #C8C8C8;
    z-index: -1;
    position: absolute;
    top: 4px;
}

.j1-list {
    width: 300px;
    margin-top: 5px;
    margin-left: 75px;
    float: left;
}

.j1-list:first-child {
    margin-left: 115px;
}

.j1-list p {
    font-size: 21px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #000000;
}

.j1-sublist {
    margin-top: 30px;
    position: relative;
}

.j1-sublist p {
    margin-left: 9px;
    font-size: 14px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #4D4D4D;
}

.j1-list-style {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #000000;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}


.j1-listnum {
    width: 300px;
    height: 4px;
    background-color: #000000;
    position: absolute;
    left: 490px;
    bottom: 70px;
}

/* 2. 관광안내 */

.j2-background {
    width: 1280px;
    margin: auto;
    margin-top: 120px;
}

.j2-subtitle {
    margin-top: 17px;
    font-size: 18px;
    letter-spacing: -0.5px;
    color: #4D4D4D;
    float: left;
}

.j2-morebutton {
    width: 80px;
    height: 19px;
    margin-top: 22px;
    margin-left: 13px;
    padding-top: 1px;
    border-radius: 15px;
    border: 1px solid #C4C4C4;
    background-color: #ffffff;
    font-size: 9px;
    letter-spacing: -0.5px;
    color: #C4C4C4;
    float: left;
}

.j2-contents {
    width: 400px;
    margin-top: 60px;
    margin-left: 40px;
    float: left;
}

.j2-contents:first-child {
    margin-left: 0px;
}

.j2-slide-container {
    overflow: hidden;
    border: 1px solid black;
}

.j2-slide {
    width: 1200px;
    transition: all 1s;
}

.j2-slide-image {
    width: 400px;
    height: 250px;
    float: left;
}

.j2-slide-remote {
    margin-top: 20px;
    margin-left: 120px;
}

.j2-slide-button {
    width: 14px;
    height: 14px;
    margin-top: 4px;
    float: left;
    border: 1px solid black;
}

.j2-slide-title {
    margin: 0px 5px;
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #4D4D4D;
    float: left;
}

/* 3. 한옥의 별 설명 */

.j3-background {
    margin-top: 120px;
    position: relative;
}

.j3-backline {
    width: 100%;
    height: 370px;
    background-color: #c0b3a01a;
    z-index: -1;
}

.j3-main {
    width: 1280px;
    margin: auto;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);
}

.j3-image {
    width: 620px;
    height: 360px;
    float: left;
    border: 1px solid black;
}

.j3-text {
    margin-top: 6px;
    margin-left: 100px;
    float: left;
    position: relative;
}

.j3-textdeco {
    height: 53px;
    font-size: 64px;
    font-weight: bold;
    color: #4D4D4D;
}

.j3-ex {
    margin-top: 8px;
    font-size: 16px;
    letter-spacing: -0.5px;
    color: #4D4D4D;
}

.j3-morebutton {
    width: 93px;
    height: 25px;
    margin-top: 17px;
    border-radius: 17px;
    background-color: #c0b3a000;
    border: 1px solid #C4C4C4;
    font-size: 9px;
    letter-spacing: -0.5px;
    color: #C4C4C4;
}

/* 하단 */

footer {
    border-top: 1px solid #D8D8D8;
}

.footer {
    width: 1280px;
    margin: auto;
}

.footer h5 {
    margin-top: 28px;
}

.footer h5:first-child {
    margin-top: 50px;
}

.footer-main {
    margin: 0px;
    padding: 0px;
}

.footer-menu {
    margin-top: 4px;
    padding: 0 16px;
    float: left;
    border-left: 1px solid #D8D8D8;
    font-size: 13px;
    color: #505050;
}

.footer-main .footer-menu:first-child {
    padding-left: 0px;
    border-left: none;
}

.capyright {
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 12px;
    letter-spacing: -0.5px;
    color: #505050;
}

/* event */

.left {
    float: left;
}

.right {
    float: right;
}

.fblack {
    color: #000000;
}