body {
    margin: 0px;
    font-family: 'Noto Sans KR';
}

div {
    box-sizing: border-box;
}

h4 {
    font-size: 24px;
    margin: 0px;
}

p {
    margin: 0px;
}

.nav-background {
    width: 100%;
    height: 600px;
}

.nav-background img {
    width: 100%;
    height: 100%;
    position: relative;
}

.navbar {
    width: 1280px;
    height: 70px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
}

.list-icon {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    top: 23px;
}

.main-menu {
    padding-left: 25px;
    padding-top: 23px;
    margin: 0px;
    display: inline-block;
}

.menu {
    width: 75px;
    margin-left: 25px;
    float: left;
    text-align: center;
}

.sub-menu {
    padding: 0px;
}

.menu p {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.sub-menu a {
    text-decoration: none;
    font-size: 13px;
    letter-spacing: -0.5px;
    color: black;
    display: none;
}

ul, li {
    list-style-type: none;
}

.main-logo {
    width: 64px;
    height: 40px;
    margin-left: 415px;
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    top: 20px;
}

.info {
    width: 1280px;
    margin: auto;
    position: relative;
}

.info-left-box {
    width: 490px;
    height: 120px;
    margin-left: 730px;
    display: inline-block;
    position: absolute;
    top: -60px;
    background-color: #ffffff;
}

.info-left-box h4 {
    margin-left: 40px;
    margin-top: 33px;
}

.info-left-box p {
    margin-left: 40px;
    margin-top: 24px;
    font-size: 14px;
}

.info-right-box {
    width: 60px;
    height: 60px;
    margin-left: 1220px;
    display: inline-block;
    position: absolute;
    top: -60px;
    background-color: #1F273D;
}